.header {
  padding: 11px;
  border-bottom: 1px solid rgba(93, 90, 136, 0.17);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-logo-icon {
  display: block;
  width: 129px;
  height: 42px;
}

@media screen and (min-width: 1310px) {
  .header {
    padding: 17px;
  }

  .header-logo-icon {
    width: 146px;
    height: 48px;
  }
}
